* {margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

body {background-color: #f4f4f4;}

/* HEADER */
header {width: 100%;
    height: 100px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;}

header a {text-decoration: none;}    

.navbar_menu--list li {display: inline-block;
    list-style-type: none;
    padding: 0px 20px;
    color: #c0b283;
    font-size: 18px;}
header .logo {width: 200px;
    height: 80px;}
    ul li:hover {
        background-color: #c0b283;
        color: white;
        transition: all 0.5s;}
    /* BOTON NAV RESPONSIVE */
#btn-menu {display: none;}
header label {display: none;
    width: 30px;
    height: 30px;
    padding: 10px;}

/* ROWS */
.margen {margin: 0%;}

/*SLIDE  */
.carousel-item {height: 550px;}
.darken {background-color: #000;}
.darken img {opacity: 0.4}


/* NOVEDADES */
.novedades_texto {margin-left: 3%;
    margin-top: 5%;
    color: #373737;}
.novedades_texto h1 {color: #373737;}
.novedades_texto p {margin-left: -0%;}

/* LO MAS VENDIDO */
.vendidos_texto {margin-left: 3%;
    margin-top: 5%;}
.vendidos_texto h1 {color: #373737;}
.vendidos_texto p {margin-left: -0%;}
/* COLECCIONES DORADAS */
.container_colecciones {width: 80%;
    height: 200px;
    background-color: #c0b283;
    margin-left: 10%;
    margin-top: 2%;}
.container_colecciones h1 {color: #373737;}
.container_colecciones--titulo {text-align: left;
    margin-left: 6%;
    padding-top: 5px;}  
.container_colecciones--texto {text-align: left;
    margin-left: 5%;
    padding-right: 60%;}
.container_colecciones img {width: 300px;}

/* HR UBICACION */
hr {margin-left: 10%;
    margin-right: 10%;}

/* UN LIBRO UN ARBOL */
.container_campaña {width: 80%;
    height: 200px;
    background-color: #c0b283;
    margin-left: 10%;
    margin-top: 2%;}
.container_campaña h1 {color: #373737;}
.container_campaña--titulo {text-align: left;
    margin-left: 6%;
    padding-top: 5px;}  
.container_campaña--texto {text-align: left;
    margin-left: 5%;
    padding-right: 60%;}
.container_campaña img {width: 300px;}

/* CONTACTO */

form {width: 450px;
    margin: auto;
    background: #cccccc;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 2%;
    border-radius: 7px;
    margin-bottom: 2%;}
.contacto_texto {text-align: center;}
input, textarea {width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;}

/* FOOTER */
footer {height: 200px;
    width: 100%;
    background-color: #dcd0c0;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #373737;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;}

.redes {display: flex;}
/* MEDIA QUERIES */
@media (max-width: 768px)  {
    header label {display: block;} 
    .logo {margin: -140%}
    .navbar_menu {position: absolute;
        background-color: #c0b283;
        margin-bottom: 90px;
        width: 20%;
        margin-left: -100%;
        transition: all 0.5s;}
    .navbar_menu--list li {color: #f4f4f4;
        margin-left: -25%;}
    .navbar_menu--list {display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: 5%;}
       ul li:hover {
        background-color: white;
        color: #c0b283;
        transition: all 0.5s;}
    #btn-menu:checked ~ .navbar_menu {margin-left: 0;
        margin-top: 42%;}

    .carousel-item {width: 100%;
        height: 500px;} 
        .carousel-item img {height: 600px;}   
        .container_colecciones--texto {padding: 0%;}
        .container_campaña--texto {padding: 0%;}
        form {width: 90%;}
        footer {margin-left: 0%;
            width: 100%;}
}

@media (max-width: 425px) { header {top: 0;
    left: 0;}
    
    header label {display: block;
        margin-left: 30px;} 
    .navbar_menu {background-color: #c0b283;
        margin-bottom: -72px;
        margin-left: -100%;
        width: 30%;
        transition: all 0.5s;}
    .navbar_menu--list li {color: #f4f4f4;
        margin-left: -25%;
        font-size: 15px;
        margin-top: 10%;}
    ul li:hover {
        background-color: white;
        color: #c0b283;
        transition: all 0.5s;}
    .logo {margin-left: -50%;
        }
    #btn-menu:checked ~ .navbar_menu {margin-left: 0;
        margin-top: 42%;}
    
}