* {margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

body {background-color: #f4f4f4;}

/* HEADER */
header {width: 100%;
    height: 100px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;}

header a {text-decoration: none;}    

.navbar_menu--list li {display: inline-block;
    list-style-type: none;
    padding: 0px 20px;
    color: #c0b283;
    font-size: 18px;}
header .logo {width: 200px;
    height: 80px;}
    ul li:hover {
        background-color: #c0b283;
        color: white;
        transition: all 0.5s;}
    /* BOTON NAV RESPONSIVE */
#btn-menu {display: none;}
header label {display: none;
    width: 30px;
    height: 30px;
    padding: 10px;}

/* MAIN */
.bannerhero { height: 500px;
    
    background-image: url(https://www.detroitlabs.com/wp-content/uploads/2018/02/alfons-morales-YLSwjSy7stw-unsplash.jpg);
    background-size: cover;}

.nosotros {
height: 300px;
/* background-color: #f4f4f4; */
color: #373737;
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
font-weight: bold;
background-image: linear-gradient(to left, #f4f4f4 , #f0f0f0);

}

h1 {margin-top: 3%;
color: #c0b283;
font-weight: bold;}

p   {margin: 3% 5% 3% 5%;}

/* FOOTER */
footer {height: 200px;
    width: 100%;
    background-color: #dcd0c0;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #373737;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;}

.redes {display: flex;}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    header label {display: block;} 
    .logo {margin: -140%}
    .navbar_menu {position: absolute;
        background-color: #c0b283;
        margin-bottom: 11%;
        width: 20%;
        margin-left: -100%;
        transition: all 0.5s;}
    .navbar_menu--list li {color: #f4f4f4;
        margin-left: -25%;}
    .navbar_menu--list {display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: 5%;}
       ul li:hover {
        background-color: white;
        color: #c0b283;
        transition: all 0.5s;}
    #btn-menu:checked ~ .navbar_menu {margin-left: 0;
        margin-top: 42%;}
}

@media (max-width: 425px) { header {top: 0;
    left: 0;}
    
    header label {display: block;
        margin-left: 30px;} 
    .navbar_menu {background-color: #c0b283;
        margin-bottom: -18%;
        margin-left: -100%;
        width: 30%;
        transition: all 0.5s;}
    .navbar_menu--list li {color: #f4f4f4;
        margin-left: -25%;
        font-size: 15px;
        margin-top: 10%;}
    ul li:hover {
        background-color: white;
        color: #c0b283;
        transition: all 0.5s;}
    .logo {margin-left: -50%;
        }
    #btn-menu:checked ~ .navbar_menu {margin-left: 0;
        margin-top: 42%;}

        .nosotros {margin-top: 30%;}
    footer {margin-top: 20%;}
}